[submodule "sqlcipher"]
	path = sqlcipher
	url = https://github.com/sjlombardo/sqlcipher.git
[submodule "openssl-xcode"]
	path = openssl-xcode
	url = https://github.com/sjlombardo/openssl-xcode.git
[submodule "nsdate-helper"]
	path = nsdate-helper
	url = git://github.com/billymeltdown/nsdate-helper.git
